{{ if (not (isset .Site.Params "comments")) }}
  {{ .Scratch.Set "enable_comments" false }}
{{ else if (isset .Params "comments") }}
  {{ .Scratch.Set "enable_comments" .Params.comments }}
{{ else if (isset .Site.Params.Comments "enabled") }}
  {{ .Scratch.Set "enable_comments" .Site.Params.Comments.Enabled }}
{{ else }}
  {{ .Scratch.Set "enable_comments" true }}
{{ end }}

{{ $enable_comments := .Scratch.Get "enable_comments" }}
{{ if $enable_comments }}
  {{ if (or (not (isset .Site.Params.Comments "engine")) (eq .Site.Params.Comments.Engine "disqus")) }}
    <div class="blog-post-comments">
        <div id="disqus_thread">
          <script src="https://utteranc.es/client.js"
            repo="devshareacademy/devshareacademy.github.io"
            issue-term="pathname"
            label="blog-comment"
            theme="github-light"
            crossorigin="anonymous"
            async>
          </script>
        </div>
    </div>

  {{ end }}
{{ end }}
