body {
  padding-bottom: 20px;
}
.nes-progress {
  height: 25px;
}
h2, h3, h4 {
  font-family: "Press Start 2P";
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 4.5rem;
}
.page-content {
  margin: auto;
  margin-top: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  margin: 0%;
  text-align: center;
  margin-bottom: 5px;
}
.icon-list a {
  box-shadow: none;
  margin: 2px;
}
.icon-list a:hover {
  opacity: 50%;
}
.centered {
  text-align: center;
}
.course-image {
  width: 100%;
}
.course-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
